AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBraces: Linux
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
IndentWidth: 8
UseTab: ForIndentation
